<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- jquery-contextmenu -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.contextMenu.css" integrity="sha512-EF5k2tHv4ShZB7zESroCVlbLaZq2n8t1i8mr32tgX0cyoHc3GfxuP7IoT8w/pD+vyoq7ye//qkFEqQao7Ofrag==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.contextMenu.js" integrity="sha512-2ABKLSEpFs5+UK1Ol+CgAVuqwBCHBA0Im0w4oRCflK/n8PUVbSv5IY7WrKIxMynss9EKLVOn1HZ8U/H2ckimWg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.ui.position.js" integrity="sha512-vBR2rismjmjzdH54bB2Gx+xSe/17U0iHpJ1gkyucuqlTeq+Q8zwL8aJDIfhQtnWMVbEKMzF00pmFjc9IPjzR7w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- <link th:href="@{/css/style.css}" rel="stylesheet"> -->
    <script src="/js/index.js"></script>
</head>
<body>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" th:fragment="loginFormFragment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body" style="padding: 50px;">
                    <div style="padding: 15px 15px 30px; border-bottom: 1px solid gray;">
                        <p class="title login-title">TripTO</p>
                        <p class="login-id">아이디</p>
                        <input type="text" id="id" value="" class="loginForm-id" style="margin-bottom: 15px;">
                        <p class="login-pw">비밀번호</p>
                        <input type="password" id="password" value="" class="loginForm-pw" style="margin-bottom: 25px;">
                        <input type="button" value="로그인" class="loginForm-loginBtn" onclick="javascript:login();">
                        <div class="loginForm-link">
                            <a href>회원가입</a>
                            <span style="margin: 0 10px;">|</span>
                            <a href>아이디 또는 패스워드 찾기</a>
                        </div>
                    </div>
                    <div class="social-login-section" style="margin-top: 30px;">
                        <div>
                            <a href="/login/oauth/naver">
                                <img src="/image/naver-login.png" class="img-fluid" style="width: 100%">
                            </a>
                        </div>
                        <div>
                            <img src="/image/kakao-login.png" class="img-fluid" style="width: 100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>