<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- jquery-contextmenu -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.contextMenu.css" integrity="sha512-EF5k2tHv4ShZB7zESroCVlbLaZq2n8t1i8mr32tgX0cyoHc3GfxuP7IoT8w/pD+vyoq7ye//qkFEqQao7Ofrag==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.contextMenu.js" integrity="sha512-2ABKLSEpFs5+UK1Ol+CgAVuqwBCHBA0Im0w4oRCflK/n8PUVbSv5IY7WrKIxMynss9EKLVOn1HZ8U/H2ckimWg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.ui.position.js" integrity="sha512-vBR2rismjmjzdH54bB2Gx+xSe/17U0iHpJ1gkyucuqlTeq+Q8zwL8aJDIfhQtnWMVbEKMzF00pmFjc9IPjzR7w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- <link th:href="@{/css/style.css}" rel="stylesheet"> -->
    <script src="/js/index.js"></script>
</head>
<body>
    <div class="login-container" th:fragment="loginFormFragment">
        <div class="modal">
            <div class="login-form">
                <p class="title">TripTO</p>
                <p>아이디</p>
                <input type="text" id="id" value="">
                <p>비밀번호</p>
                <input type="password" id="password" value="">
                <input type="button" value="로그인" onclick="javascript:login()">
                <a href="/find">아이디 또는 패스워드를 분실하셨나요?</a>
                <a href="/join">회원가입</a>
            </div>
            <div class="sns-login-form">

            </div>
        </div>
    </div>
    <script th:fragment="loginFormScrFragment">
        $('#popupBtn').click(function(){
            $('.login-container').addClass('modal-open');
            $('.login-container').css('visibility', 'visible');
        });

        $('.login-container').click(function(event) {
            if ($(event.target).hasClass('login-container') == true) {
                $('.login-container').removeClass('modal-open');
                $('.login-container').css('visibility', 'hidden');
            }
        })
    </script>
</body>
</html>