<!DOCTYPE html>
<html lang="en">
<head th:fragment="topNavStyleFragment">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link th:href="@{/css/topNav.css}" rel="stylesheet">
    <link th:href="@{/css/reset.css}" rel="stylesheet">
</head>
<body>
    <nav class="top-bar" th:fragment="topNavFragment">
        <span class="title">
            <a href="/">TripTo</a>
        </span>
        <span class="search-section">
                <input type="text" class="search-bar" value="" placeholder="Search">
            </span>
        <ul style="display: inline-block; margin-left: auto;">
            <li class="top-menu">Recommand</li>
            <li class="top-menu">
                <a href="/community/main">Community</a>
            </li>
            <th:block th:if="${session.loginUser == null}">
                <li class="top-menu" data-bs-toggle="modal" data-bs-target="#exampleModal">Sign in</li>
                <li class="top-menu">
                    <a href="/join">Sign up</a>
                </li>
                <input type="hidden" id="loginUser-uid" value="-1">
            </th:block>
            <th:block th:unless="${session.loginUser == null}">
                <li class="top-menu" th:text="${session.loginUser.nickName} + '님 반갑습니다.'" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"></li>
                <div class="dropdown">
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/user/myPage/{userUid}(userUid = ${session.loginUser.userUid})}" >MyPage</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                </div>
                <input type="hidden" id="loginUser-uid" th:value="${session.loginUser.userUid}">
            </th:block>
        </ul>
    </nav>
</body>
</html>