<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- jquery-contextmenu -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.contextMenu.css" integrity="sha512-EF5k2tHv4ShZB7zESroCVlbLaZq2n8t1i8mr32tgX0cyoHc3GfxuP7IoT8w/pD+vyoq7ye//qkFEqQao7Ofrag==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.contextMenu.js" integrity="sha512-2ABKLSEpFs5+UK1Ol+CgAVuqwBCHBA0Im0w4oRCflK/n8PUVbSv5IY7WrKIxMynss9EKLVOn1HZ8U/H2ckimWg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.ui.position.js" integrity="sha512-vBR2rismjmjzdH54bB2Gx+xSe/17U0iHpJ1gkyucuqlTeq+Q8zwL8aJDIfhQtnWMVbEKMzF00pmFjc9IPjzR7w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- <link th:href="@{/css/style.css}" rel="stylesheet"> -->
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <script src="/js/index.js"></script>
    <style th:replace="common/topNav.html :: topNavStyleFragment"></style>

    <link th:href="@{/css/post.css}" rel="stylesheet">

    <!-- 폰트어썸 CDN -->
    <script src="https://kit.fontawesome.com/0d81e60380.js" crossorigin="anonymous"></script>

    <script src="../js/community.js"></script>
    <script src="/summernote/summernote-bs4.min.js"></script>
    <link rel="stylesheet" href="/summernote/summernote-bs4.min.css">
</head>
<body>
    <!-- 상단 nav -->
    <nav th:replace="common/topNav.html :: topNavFragment"></nav>
    <div class="post-section">
        <div class="subject-section">
            <input type="text" class="post-subject" value="" placeholder="제목">
        </div>
        <div class="content-section">
            <textarea class="post-content" placeholder="내용" id="summernote" name="editordata"></textarea>
        </div>
        <div class="btn-section">
            <input type="button" value="임시저장" class="post-tempSave-btn">
            <input type="button" value="저장" class="post-save-btn">
        </div>
    </div>
</body>
</html>