<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- jquery-contextmenu -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.contextMenu.css" integrity="sha512-EF5k2tHv4ShZB7zESroCVlbLaZq2n8t1i8mr32tgX0cyoHc3GfxuP7IoT8w/pD+vyoq7ye//qkFEqQao7Ofrag==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.contextMenu.js" integrity="sha512-2ABKLSEpFs5+UK1Ol+CgAVuqwBCHBA0Im0w4oRCflK/n8PUVbSv5IY7WrKIxMynss9EKLVOn1HZ8U/H2ckimWg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.9.2/jquery.ui.position.js" integrity="sha512-vBR2rismjmjzdH54bB2Gx+xSe/17U0iHpJ1gkyucuqlTeq+Q8zwL8aJDIfhQtnWMVbEKMzF00pmFjc9IPjzR7w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- <link th:href="@{/css/style.css}" rel="stylesheet"> -->
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <script src="/js/index.js"></script>
    <style th:replace="common/topNav.html :: topNavStyleFragment"></style>

    <link th:href="@{/css/write.css}" rel="stylesheet">

    <!-- 폰트어썸 CDN -->
    <script src="https://kit.fontawesome.com/0d81e60380.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script src="../js/post.js"></script>
</head>
<body>
    <!-- 상단 nav -->
    <nav th:replace="common/topNav.html :: topNavFragment"></nav>
    <div class="post-section">
        <form id="post-form" action="/api/board/save" method="post">
            <div class="subject-section">
                <input type="text" name="subject" class="post-subject" value="" placeholder="제목">
            </div>
            <div id="editor" name="content" class="post-content"></div>
            <div class="btn-section">
                <input type="button" value="임시저장" class="post-tempSave-btn" onclick="javascript: tempSavePost();">
                <input type="button" value="저장" class="post-save-btn" onclick="javascript: saveTest();">
            </div>
        </form>
    </div>
    <script>
        const Editor = toastui.Editor;
        const editor = new Editor({
            el: document.querySelector('#editor'),
            previewStyle: 'vertical',
            initialEditType: 'wysiwyg',
            height: 'auto',
            initialValue: '게시글을 작성해주세요.',
            hooks: {
                async addImageBlobHook(blob, callback) { // 이미지 업로드 로직 커스텀
                    try {
                        /*
                         * 1. 에디터에 업로드한 이미지를 FormData 객체에 저장
                         *    (이때, 컨트롤러 uploadEditorImage 메서드의 파라미터인 'image'와 formData에 append 하는 key('image')값은 동일해야 함)
                         */
                        const formData = new FormData();
                        formData.append('image', blob);

                        // 2. FileApiController - uploadEditorImage 메서드 호출
                        const response = await fetch('/api/board/image-upload', {
                            method : 'POST',
                            body : formData,
                        });

                        // 3. 컨트롤러에서 전달받은 디스크에 저장된 파일명
                        const filename = await response.text();
                        console.log('서버에 저장된 파일명 : ', filename);

                        // 4. addImageBlobHook의 callback 함수를 통해, 디스크에 저장된 이미지를 에디터에 렌더링
                        const imageUrl = `/api/board/image-print?filename=${filename}`;
                        callback(imageUrl, 'image alt attribute');

                    } catch (error) {
                        console.error('업로드 실패 : ', error);
                    }
                }
            }
        });

        function saveTest() {
            // 입력한 내용 유효성 검사
            if (editor.getMarkdown().length < 1) {
                alert('게시글을 입력해주세요.');
                return false;
            }

            // API 호출
            try {
                $.ajax({
                    url: '/api/board/save',
                    type: 'POST',
                    data: {
                        subject : $('.post-subject').val(),
                        content : editor.getHTML()
                    },
                    dataType: 'json',
                    success:function(data) {
                        alert(data.message);
                        if (data.result) {
                            window.location.href = data.redirectUrl;
                        }
                    }
                })
            } catch(error) {
                alert('게시글 등록 중 에러가 발생했습니다.');
            }
        }
    </script>
</body>
</html>