html, body {
    height: 100%;
}

.post-section {
    height: 100%;
    margin-top: 40px;
    padding: 0px 350px;
}

.postInfo-section {
    padding: 0px 10px 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #bcb0f4;
}

.post-subject {
    font-size: 34px;
    margin-bottom: 15px;
}

.post-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-follow-btn {
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: #bcb0f4;
    color: #fff;
}

.postContent-section {
    width: 100%;
    border-bottom: 1px solid #bcb0f4;
}

.postBottom-section {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100px;
    align-items: center;
}

.post-like-btn,
.post-sub-btn {
    border: 1px solid #e0ddef;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 100px;
    color: #bcb0f4;
    box-shadow: 0px 0px 5px 0px;
}

.post-like-btn,
.post-sub-btn {
    border: 1px solid #e0ddef;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 100px;
    color: #bcb0f4;
    box-shadow: 0px 0px 4px 0px;
}

.post-like-btn:hover,
.post-sub-btn:hover {
    cursor: pointer;
}

.profile-box {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 70%;
    overflow: hidden;
    margin-right: 15px;
}
.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.myReply-section {
    display: flex;
    height: 40px;
    align-items: center;
    margin-bottom: 45px;
}

.my-reply {
    border: 1px solid #ecdede;
    height: 100%;
    width: 695px;
    padding: 10px;
    transition: all 0.2s;
}

.my-reply:focus {
    outline: none;
    border: 1px solid #bcb0f4;
}

.reply-split {
    margin: 0px 5px;
}

.reply-section {
    margin-top: 35px;
    margin-bottom: 15px;
    align-items: flex-start;
    display: flex;
}

.reply-paging {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.page-btn {
    border: none;
    background-color: #ffffff;
    margin: 0px 10px;
    padding: 0;
}